.search-order-header-container {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-order-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
}

input {
    height: 35px;
    width: 190px;
}

.mat-icon {
    position: relative;
    bottom: 2px;
    color: black;
}

.custom-placeholder {
    height: 100%;
    width: 100%;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: flex-end;
}